
<p 
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlightColor>Hello world</p>




<!-- <p highlightColor="'Green'" appHighlightColor>Aother Hello world</p> -->


<span
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlightColor>Hello world</span>



<div
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlightColor>Hello world</div>



<button
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlightColor>Hello world</button>

<!-- 

Notes:

1. you can apply directive to the any html element like p,span,div,button etc.
2. YOu can apply directive any where in the application.
3. Input in directice which is used to change the style dynamically and it will take the value -->


