<div style="margin:50px;padding:50px;" class="row">
  <div class="col-8">
  <form #registrationform="ngForm"     ngForm>
    <div class="form-group">
      <label for="firstID">FirstName *</label>
      <input id="firstID" type="text" class="form-control" 
      name="firstname"
       ngModel
         #myfirstName="ngModel" 
          required/>
      <span style="color:red" *ngIf="myfirstName.dirty && myfirstName.invalid">Please enter the firstname</span>
    </div>


    <div class="form-group">
      <label for="CountryID">CountryCode *</label>
      <input 
       id="CountryID" 
       type="text" 
       class="form-control"
       name="CountryCodeName" 
       ngModel 
       #contrycodeName="ngModel" 
       minlength="2"
       maxlength="5"
       required/>
      <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['required']">Please enter the CountryCode</span>
      <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['minlength']">Please enter the Atleast 2 charcters</span>
      <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
    </div>





     <div class="form-group">
      <label for="emailid">User Email *</label>
      <input 
       id="emailid" 
       type="text" 
       class="form-control"
       name="useremail" 
       ngModel 
       #useremail="ngModel" 
       required
       email/>
      <span style="color:red"  *ngIf="useremail.dirty && useremail.errors?.['required']">Please enter the YOur email</span>
      <span style="color:red"  *ngIf="useremail.dirty && useremail.errors?.['email']">Please enter Proper email</span>
      <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
    </div>


    <br>

    <!-- Note : i want to make button as disbaled incase form is invalid -->
    <!-- <button [disabled]="registrationform.invalid" type="submit" class="btn btn-primary">Submit</button> -->
     <button type="submit" class="btn btn-primary" (click)="btnClick(registrationform)">Submit</button>
  </form>
  </div>
</div>
