<div style="margin: 50px; padding: 50px" class="row">
  <div class="col-8">
    <form #registrationform="ngForm" ngForm>
      <div class="form-group">
        <label for="firstID">FirstName *</label>
        <input
          id="firstID"
          type="text"
          class="form-control"
          name="firstname"
          ngModel
          #myfirstName="ngModel"
          required
        />
        <span
          style="color: red"
          *ngIf="myfirstName.dirty && myfirstName.invalid"
          >Please enter the firstname</span
        >
      </div>

      <div class="form-group">
        <label for="CountryID">CountryCode *</label>
        <input
          id="CountryID"
          type="text"
          class="form-control"
          name="CountryCodeName"
          ngModel
          #contrycodeName="ngModel"
          minlength="2"
          maxlength="5"
          required
        />
        <span
          style="color: red"
          *ngIf="contrycodeName.dirty && contrycodeName.errors?.['required']"
          >Please enter the CountryCode</span
        >
        <span
          style="color: red"
          *ngIf="contrycodeName.dirty && contrycodeName.errors?.['minlength']"
          >Please enter the Atleast 2 charcters</span
        >
        <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
      </div>

      <div class="form-group">
        <label for="emailid">User Email *</label>
        <input
          id="emailid"
          type="text"
          class="form-control"
          name="useremail"
          ngModel
          #useremail="ngModel"
          pattern="^[a-zA-Z0-9._%+\\-]+@misard\.com$"
          required
          email
        />
        <span
          style="color: red ; margin-bottom:10px"
          *ngIf="useremail.dirty && useremail.errors?.['required']"
          >Please enter the YOur email</span>
        <span
          style="color: red;margin-bottom:10px"
          *ngIf="useremail.dirty && useremail.errors?.['email']"
          >Please enter Proper email</span
        >
        <br>
        <span
          style="color: red"
          *ngIf="useremail.dirty && useremail.errors?.['pattern']"
          >Please enter Misard emails only</span
        >
        <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
      </div>

      <br />


      <!--age-->
       <div class="form-group">
        <label for="AgeId">User Age *</label>
        <input
          id="AgeId"
          type="text"
          class="form-control"
          name="userage"
          ngModel
          #UserAge="ngModel"
          pattern="[0-9]*" 
          required  
        />
        <span
          style="color: red"
          *ngIf="UserAge.dirty && UserAge.errors?.['required']"
          >Please enter the YOur Age</span
        >
        <span
          style="color: red"
          *ngIf="UserAge.dirty && UserAge.errors?.['pattern']"
          >Please enter Numbers only</span
        >
        <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
      </div>



      <!-- optionsList 
       what kind of element we are going to use for dropdown 
      -->

       <div class="form-group">
        <label class="col-form-label" for="userchoiceid">User Choices *</label>

        <select name="UserChoice" id="userchoiceid" class="form-select" #UserChoice="ngModel"  ngModel required>
          <option value="">Select an Option</option>
          <option [value]="item.value" *ngFor="let item of optionsList">{{item.name}}</option>
        </select>

          <span
          style="color: red ; margin-bottom:10px"
          *ngIf="UserChoice.touched && UserChoice.errors?.['required']"
          >Please enter YOur choice</span>

       </div>

















      <br />
      <!-- Note : i want to make button as disbaled incase form is invalid -->
      <!-- <button [disabled]="registrationform.invalid" type="submit" class="btn btn-primary">Submit</button> -->
      <button
        type="submit"
        class="btn btn-primary"
        (click)="btnClick(registrationform)"
      >
        Submit
      </button>
    </form>
  </div>
</div>
